astroid==2.3.3
bokeh==1.4.0
certifi==2019.11.28
Click==7.0
Flask==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.17.4
olefile==0.46
packaging==19.2
pandas==0.25.3
Pillow==8.1.1
pylint==2.4.4
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.2
six==1.13.0
tornado==6.0.3
typed-ast==1.4.0
Werkzeug==0.16.0
wrapt==1.11.2
